<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']"><b>Blender Notes</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="nav-bar mr-auto">
        <p-menubar [model]="items" [autoDisplay]="false">
        </p-menubar>
    </div>
    <div class="mr-auto" style="-webkit-app-region: drag;flex: 1;display: flex;align-self: stretch;"></div>
    <p-menubar [model]="items2" [autoDisplay]="false">
    </p-menubar>
    <span class="navbar-text">
      <input id="float-input" type="text" size="20" placeholder="Search" pInputText>
    </span>
  </div>
  <div>
    <button class="btn btn-success mr-1 ml-2" (click)="onMinimize()" style="border-radius: 100%;height: 15px;width: 15px;padding: 0;"></button>
    <button class="btn btn-warning mr-1" (click)="onMaximize()" style="border-radius: 100%;height: 15px;width: 15px;padding: 0;"></button>
    <button class="btn btn-danger" id="closeApp" (click)="onClose()" style="border-radius: 100%;height: 15px;width: 15px;padding: 0;"></button>
  </div>
</nav>


<!-- <div [ngClass]="{'ui-menubar ui-widget ui-widget-content ui-corner-all':true}">
  <div class="d-inline">
      <a class="navbar-brand" href="#">BlenderNotes CRUD</a>
  </div>
  <p-menubarSub [item]="items" root="root" [autoDisplay]="false" [autoZIndex]="false" [baseZIndex]="3001">
      <ng-content></ng-content>
  </p-menubarSub>
  <div class="d-inline mr-auto"></div>
  <div class="d-inline">
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
  </div>
  <div class="d-inline">
    <span class="navbar-text">
      [ ADMIN ZONE ]
      <button class="btn btn-success mr-1 ml-2" (click)="onMinimize()" style="border-radius: 100%;height: 15px;width: 15px;padding: 0;"></button>
      <button class="btn btn-warning mr-1" (click)="onMaximize()" style="border-radius: 100%;height: 15px;width: 15px;padding: 0;"></button>
      <button class="btn btn-danger" id="closeApp" (click)="onClose()" style="border-radius: 100%;height: 15px;width: 15px;padding: 0;"></button>
    </span>
  </div>
</div> -->
