button,
ul.navbar-nav,
.navbar-brand,
div.nav-bar {
    -webkit-app-region: no-drag;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border-bottom: 1px solid #eee;
    padding: 0 16px !important;
}

.ui-menubar.ui-widget.ui-widget-content.ui-corner-all {
    border: 0;
    background: transparent;
}

:host >>> li.ui-menu-separator.ui-widget-content {
  display: inline;
  border-right: 1px solid #666;
}
