button,
ul.navbar-nav,
.navbar-brand,
div.nav-bar {
    -webkit-app-region: no-drag;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border-bottom: 1px solid #eee;
    padding: 0 16px !important;
}

.ui-menubar.ui-widget.ui-widget-content.ui-corner-all {
    border: 0;
    background: transparent;
}

:host >>> li.ui-menu-separator.ui-widget-content {
  display: inline;
  border-right: 1px solid #666;
}

:host >>> .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
    padding: 0.6em 0.8em;
    background: rgba(0,0,0,0.01);
    margin-left: 6px;
    box-shadow: 0 0 3px -1px black;
}