<div class="row">
  <div class="col-12 container-fluid mb-2 p-0" style="border-bottom: 1px solid #ddd;">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
</div>
<div class="row" style="overflow: auto;">
  <div class="col-3">
      <img [src]="stateService.data.detailPost.mainImage  | appDefaultImage:'assets/gallery/nodes-001.jpg'" style="width: 100%;">
  </div>
  <div class="col-9">
    <h1 style="font-size:18px !important;">{{ stateService.data.detailPost?.title }}</h1>
    <hr />
    <p [innerHtml]="stateService.data.detailPost.body | slice:0:250"></p>
  </div>
</div>
