<div class="row">
  <div class="col-12 container-fluid mb-2 p-0" style="border-bottom: 1px solid #ddd;" >
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
</div>

<form class="row" *ngIf="formReady" id="app-detail-post" [formGroup]="form" [ngClass]="{ 'app-edit-mode': true }" style="margin-top: 8px;">
  <!-- <div class="row" style="overflow: auto;"> -->
    <div class="col-3" formGroupName="tags" id="app-detail-post-tags">

        <div style="text-align: center;width: 100%;background: #444;overflow: hidden;height: 150px;">
          <img style="max-height: 200px;" [src]="stateService.data.detailPost.mainImage | appDefaultImage: 'assets/gallery/nodes-001.jpg'">
        </div>

      <!-- <img style="width: 100%;" [src]="stateService.data.detailPost.mainImage | appDefaultImage: 'assets/gallery/nodes-001.jpg'" /> -->
      <hr />
      <p-accordion (onClose)="ref.detectChanges()" (onOpen)="ref.detectChanges()">
        <div *ngFor="let item of stateService.data.tagTypes; let i = index">
          <p-accordionTab header="{{item?.name}} ({{tagsControl.value[item?.name] ? tagsControl.value[item?.name].length : 0}})" class="app-tag-panel">
            <div *ngFor="let checktag of tagMultiselectValues[item?.name]">
                <!-- <p-checkbox name="groupname" value="val1" [(ngModel)]="checktag"></p-checkbox> -->
            </div>

              <!-- <p class="mt-2 app-post-original"><b>{{item?.name}}</b></p>
              <p-multiSelect
              [style]="{'width':'100%'}"
              [panelStyle]="{minWidth:'200px'}"
              (onPanelShow)="ref.detectChanges(); consolelog('onPanelShow')"
              (onPanelHide)="ref.detectChanges(); consolelog('onPanelHide')"
              (onClick)="ref.detectChanges(); consolelog('onClick')"
              (onChange)="ref.detectChanges(); consolelog('onChange')"
              [options]="tagMultiselectValues[item?.name]"
              [formControlName]="item?.name">
              </p-multiSelect> -->
            <div *ngIf="!this.stateService.data.editMode">
              <ul>
                <li *ngFor="let item of getCategoriesReadMode(item?.name)">
                  {{item?.label}}
                </li>
              </ul>
            </div>
            <p-listbox
            *ngIf="this.stateService.data.editMode"
            multiple="multiple" checkbox="checkbox" filter="filter"
            [listStyle]="{'max-height':'250px'}"
            [style]="{'width':'100%'}"
            (onChange)="onTagChange($event)"
            [options]="tagMultiselectValues[item?.name]"
            [formControlName]="item?.name">
            </p-listbox>
          </p-accordionTab>
        </div>
      </p-accordion>
      <!-- <app-sidebar></app-sidebar> -->
    </div>
    <div class="col-9">
      <!-- <h1 style="font-size:18px !important;">
        {{ stateService.data.detailPost?.title }}
      </h1> -->
      <input id="app-post-title" type="text" pInputText formControlName="title" />
      <hr />
      <p id="app-post-body-readonly" *ngIf="!this.stateService.data.editMode" [innerHtml]="stateService.data.detailPost.body"></p>
      <p-editor *ngIf="this.stateService.data.editMode" id="app-post-body" formControlName="body" [style]="{'height':'300px', 'width': '100%'}"></p-editor>
      <!-- <ckeditor [editor]="Editor" formControlName="body" [config]="{toolbar: 'Full'}" ></ckeditor> -->
      <hr />
      <div class="row mt-2 mb-4">
          <div class="col-6">
            <p class="mt-2 app-post-original"><b>Post original</b></p>
            <input class="app-post-original" type="text" size="30" pInputText formControlName="original" >
          </div>
          <div class="col-6">
              <p class="mt-2 app-post-original"><b>Estado</b></p>
              <!-- <p-checkbox [formControl]="form.controls['published']"></p-checkbox> <span>{{ (published.value == 0) ? ' Borrador' : ' Publicado' }}</span> -->
              <p-selectButton [options]="publishedOptions" [formControl]="form.controls['published']" (onChange)="ref.detectChanges()" ></p-selectButton>
          </div>
      </div>
      <hr />
      <div class="row mt-2 mb-4">

          <div class="col-6">
            <p class="mt-2 app-post-original"><b>Videos</b></p>
            <div class="row" *ngIf="this.stateService.data.editMode">
              <div class="col-4">
                  <p class="mt-2 mb-1 app-post-original"><b>Nombre</b></p>
                  <input id="input" type="text" size="20" pInputText [formControl]="form.controls['videoName']">
              </div>
              <div class="col-4">
                  <p class="mt-2 mb-1 app-post-original"><b>Id</b></p>
                  <input id="input" type="text" size="20" pInputText [formControl]="form.controls['videoId']">
              </div>
              <div class="col-4">
                  <p class="mt-2 mb-0 app-post-original"><b>&nbsp;</b></p>
                  <button class="btn btn-secondary" (click)="onAddVideo()">Ok</button>
              </div>
              <div class="col-12"><hr style="margin-top: 1.4rem;" /></div>
            </div>
            <div class="row">
              <div class="col-12" *ngFor="let video of stateService.data.videosPostIframe">
                <div [innerHTML]="getIframe(video.identificator)"></div>
                <div *ngIf="this.stateService.data.editMode">
                    <button class="btn btn-danger btn-sm" (click)="onDeleteVideo(video)">Delete</button>
                    <!-- <button class="btn btn-secondary" (click)="onDownloadVideo(video)">Descargar</button> -->
                    <!-- <span></span>% -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <p class="mt-2 app-post-original"><b>Descargables</b></p>

            <div class="row" *ngIf="this.stateService.data.editMode">
              <div class="col-12">
                <p class="mt-2 mb-1 app-post-original"><b>Archivo</b></p>
                <p-fileUpload
                #fileUpload
                name="file[]"
                mode="basic" customUpload="true"
                (uploadHandler)="onBasicUpload($event, fileUpload)"
                (onSelect)="onBasicSelect($event)"
                ></p-fileUpload>
              </div>
              <div class="col-12"><hr /></div>
            </div>
            <p *ngFor="let file of stateService.data.filesPost">
              <span>
                <i class="fa fa-file-archive-o fa-lg" aria-hidden="true"></i>
                <span class="pl-2" style="font-size: 13px;">{{file.name}}</span>
                <span>
                  <span class="text-secondary"> | </span>
                  <span class="text- text-success" style="cursor: pointer;font-size: 12px;" (click)="openFile(file.url, file.name)">
                      <b>Open</b>
                  </span>
                </span>
                <span *ngIf="this.stateService.data.editMode">
                  <span class="text-secondary"> | </span>
                  <span class="text- text-danger" style="cursor: pointer;font-size: 12px;" (click)="onDeleteFile(file)">
                      <b>Open</b>
                  </span>
                </span>
              </span>
            </p>
          </div>

      </div>
    </div>
  <!-- </div> -->
  <button
    *ngIf="this.stateService.data.editMode"
    class="btn btn-danger" (click)="onSubmit()"
    style="position: fixed;top: 70px;right: 32px;-index: 9999;box-shadow: 0 0 20px -8px black;">
    Guardar
  </button>
<!--  data="<p>Hello, world!</p>" -->
</form>
