<div style="width: calc(100% - 300px);float: right;overflow: hidden;position: relative;">
<p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="app-main-scrollpanel">
    <div class="row" style="margin-left: 0; margin-right: 0;">
        <div class="col-12 mt-2">
            <h1 onclick="electron.shell.openExternal('http://www.google.com')"><b>HOME</b></h1>
        </div>
        <div *ngFor="let post of list" class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <!-- <a href="/posts/{{post.id}}" target="_blank"> -->
                    <h4 class="card-title" (click)="showDialog('detail', post.id)">
                        {{post.title}}
                    </h4>
                    <!-- </a> -->
                </div>
                <div class="card-body">
                    <p class="m-2">
                        {{post.body}}
                    </p>
                </div>
                <div class="card-footer">
                    <small><b>Created: </b>{{post.createdAt}}</small>
                    <br />
                    <small><b>Updated:</b>{{post.updatedAt}}</small>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-danger" [routerLink]="['/posts/edit/', 1]"><!-- (click)="onDeletePost(post.id)" -->
                        Delete Post
                    </button>
                    <button class="btn btn-secondary" (click)="showDialog('edit', post.id)">
                        Edit
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto mt-4" ><!-- *ngIf="list.length === 0" -->
            <div class="card p-4">
                <div class="card-body text-center">
                    <p>There are no posts saved yed.</p>
                    <a (click)="showDialog('edit', 0)">Create One!</a><!-- (click)="onEditPost(0)" -->
                </div>
            </div>
        </div>
    </div>

{{display['edit']}} ---
    <p-dialog
    header="Editar Post"
    [(visible)]="display['edit']"
    [style]="{width: '900px', height: '700px'}"
    [contentStyle]="{'overflow':'visible'}"
    (visibleChange)="onHide('edit')"
    appendTo="body"
    [modal]="true">
        <app-edit-post [id]="actionId['edit']"></app-edit-post>
    </p-dialog>
{{display['detail']}}
    <p-dialog
    header="Detalle Post"
    [(visible)]="display['detail']"
    [style]="{width: '900px', minWidth: '700px'}"
    [contentStyle]="{'overflow':'visible'}"
    (visibleChange)="onHide('detail')"
    appendTo="body"
    [modal]="true">
        <app-detail-post [id]="actionId['detail']"></app-detail-post>
    </p-dialog>
</p-scrollPanel>
</div>
