<div class="row" style="width: calc(100% - 300px);float: right; overflow:auto;">
    <h1 onclick="electron.shell.openExternal('http://www.google.com')"><b>HOME</b></h1>
    <div class="row" style="margin-left: 0; margin-right: 0;">
        <div *ngFor="let post of list" class="col-md-6 p-4">
            <div class="card">
                <div class="card-header text-center">
                    <!-- <a href="/posts/{{post.id}}" target="_blank"> -->
                    <h4 class="card-title" (click)="onClickPost(post.id)">
                        {{post.title}}
                    </h4>
                    <!-- </a> -->
                </div>
                <div class="card-body">
                    <p class="m-2">
                        {{post.body}}
                    </p>
                </div>
                <div class="card-footer">
                    <small><b>Created: </b>{{post.createdAt}}</small>
                    <br />
                    <small><b>Updated:</b>{{post.updatedAt}}</small>
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-danger" href="/posts/delete/{{post.id}}">
                        Delete Post
                    </a>
                    <a class="btn btn-secondary" href="/posts/edit/{{post.id}}">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto mt-4" *ngIf="list.length === 0">
            <div class="card p-4">
                <div class="card-body text-center">
                    <p>There are no posts saved yed.</p>
                    <a href="/posts/add">Create One!</a>
                </div>
            </div>
        </div>
    </div>
</div>