/* :host >>> .ui-card-shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
} */

:host >>> .ui-card-header {
  height: 75px;overflow: hidden;
}

:host >>> .ui-card-header img {
  position: relative;
  top: -40%;
}

:host >>> .ui-card-body {
  height: 225px;
}