<!-- <p-sidebar [(visible)]="display" [showCloseIcon]="false"> -->
<div class="app-sidebar-fixed">
  <p-tabView orientation="left" [activeIndex]="index" (onChange)="handleChange($event)">
    <p-tabPanel
    [header]=""
    *ngFor="let item of _ipc.categoryTypes; let i = index"
    leftIcon="fa fa-check"
    [selected]="i == index">
        <h5>{{item.name}}</h5>
        <hr style="border-color: #aaa;" />
        <span *ngFor="let c of _ipc.categoriesType[item.name]">
          <button
          #categoryitem
          [ngClass]="{'btn-secondary': !c.selected, 'btn-success': c.selected }"
          (click)="onClickCategory(c)"
          class="btn btn-sm  m-1"
          style="font-size: 0.9em;" >
            {{c.name}}
          </button>
        </span>
    </p-tabPanel>
  </p-tabView>
</div>
<!-- </p-sidebar> -->

<!-- <p-contextMenu [target]="categoryitem" [model]="rightClick"></p-contextMenu> -->
