<p-sidebar [(visible)]="display" [showCloseIcon]="false">

  <p-tabView orientation="left" [activeIndex]="index" (onChange)="handleChange($event)">
    <p-tabPanel 
    [header]="" 
    *ngFor="let item of categoryTypes; let i = index" 
    leftIcon="fa fa-check" 
    [selected]="i == index">
        <h5>{{item.name}}</h5>
        <hr style="border-color: #aaa;" />
        <span *ngFor="let c of categoriesType[i+1]">
          <button class="btn btn-sm btn-warning m-1" style="font-size: 0.9em;">
            {{c.name}}
          </button>
        </span>
    </p-tabPanel>
  </p-tabView>

</p-sidebar>