<!-- <app-header></app-header>
<div class="" id="main-window">
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</div> -->

<div class="flex-container flex-flow-column" style="height: 100%;">
    <div class="flex-width-content" style="position: relative; z-index: 9000;">
        <app-header></app-header>
    </div>
    <div class="flex-width-auto" style="box-shadow: 0 0px 10px -2px rgba(0,0,0,0.3) inset; position: relative;">
      <div class="flex-container flex-flow-row" style="position: absolute; height: 100%;">
        <div class="flex-width-content" style="min-width: 302px;background: #f8f9fa;border-right: 1px solid #ddd;overflow: auto;">
            <div style="width: 300px;height: 99%;">
              <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="flex-width-auto" style="box-shadow: 0 3px 3px 0px rgba(0,0,0,0.5) inset;overflow: auto;">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
      </div>
      <div class="app-reader-rss" 
      *ngIf="feedService.show"
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);">
        <div style="
          height: 100%;
          width: 60%;
          background: white;
          float: right;
          min-width: 975px;
          padding: 0 16px 16px 16px;
          box-shadow: 0 0 5px 0 black;
          overflow: auto;
          border-left: #ddd;">
          <app-feeds></app-feeds>
        </div>
      </div>
    </div>
    <div class="flex-width-content" style="position: relative; z-index: 9000;order:2;">
        <div style="height: 22px;background: rgba(250,250,250,0.8);border-top: 1px solid #ddd; padding-left: 3px;">
            <p-inputSwitch styleClass="secondary" (onChange)="filtroExclusivoCheckOnChange($event)" [(ngModel)]="filtroExclusivoCheck"></p-inputSwitch>
            <b style="vertical-align: inherit;" class="ml-1">Filtro exclusivo</b>
        </div>
    </div>
  </div>
