<!-- <app-header></app-header>
<div class="" id="main-window">
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</div> -->

<div class="flex-container flex-flow-column">
    <div class="flex-width-content">
        <app-header></app-header>
    </div>
    <div class="flex-width-auto">
      <div class="flex-container flex-flow-row">
        <div class="flex-width-content" style="min-width: 302px;background: #f8f9fa;border-right: 1px solid #ddd;box-shadow: 0 3px 3px -3px gray inset;">
            <div style="width: 300px;height: 100%;">
              <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="flex-width-auto">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
      </div>
    </div>
  </div>
