* {
    outline: none !important;
    box-shadow: none !important;
}

* * {
    font-size: 13px !important;
}

body {
    border: 2px solid #ddd;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-dark {
    background-color: #3f3f3f !important;
    position: relative;
    z-index: 2003;
}


#main-window{
    /* width: calc(100% - 75px); */
    width: calc(100% - 0px);
    height: calc(100vh - 54px);
    /* overflow: auto; */
    /* margin-left: 75px; */
    margin-left:0px;
}

#main-window .ui-sidebar-left {
    /* -webkit-transform: translateX(-75%);
    transform: translateX(-75%); */
    -webkit-transform: translateX(-0%);
    transform: translateX(-0%);
    opacity: 1 !important;
}

#main-window .ui-sidebar-left.ui-sidebar-active, .ui-sidebar-right.ui-sidebar-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

body #main-window .ui-sidebar {
    padding: 0;
}

body .ui-menubar {
    padding: 0;
    background-color: transparent;
    border: 0px solid #c8c8c8;
}

.ui-sidebar-left {
    top: 45px;
    left: 0px;
    width: 20em;
    height: calc(100% - 45px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background-color: #ddd !important;
    border-color: #ddd !important;
    color: #333 !important;;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}

.ui-sidebar-mask {
    position: fixed;
    width: calc(100% - 4px) !important;
    height: calc(100% - 4px) !important;
    margin: 2px !important;
    width: 300px;
}

.app-main-scrollpanel .ui-scrollpanel-content {
    height: calc(100vh - 53px) !important;
}


.app-main-scrollpanel .ui-scrollpanel-wrapper {
    border-right: 9px solid transparent; 
    overflow: hidden;
}

.cusapp-main-scrollpaneltom .ui-scrollpanel-bar {
    background-color: #637173; 
    opacity: 1; 
    transition: background-color .3s; 
}

.app-main-scrollpanel .ui-scrollpanel-bar:hover {
    background-color: #637173;
}

.app-main-scrollpanel .ui-scrollpanel-bar-y {
    width: 9px;
    position: absolute;
    right: 2px !important;
    opacity: 1;
    background: #6c757d;
    border-radius: 0;
    z-index: 2000000;
    cursor: pointer;
    transition: opacity .15s linear;
    border-top: 20px solid white;
}
