<div class="row" style="overflow: auto;">
  <div class="col-12 container-fluid mb-2 pt-2" style="background: #f8f9fa;border-bottom: 1px solid #ddd;box-shadow: 0 3px 3px -3px gray inset;">
      <h1><b><a [routerLink]="['/']">HOME</a> / Edit :: {{stateService.data.detailPost?.title}}</b></h1>
  </div>
</div>
<div style="min-height: 600px; min-width: 900px;">
  <div class="row">
    <div class="card col-6 mr-auto ml-auto">
      <div class="card-header text-center">
        <!-- <a href="/posts/{{post.id}}" target="_blank"> -->
        <input type="text" placeholder="Title" value="{{stateService.data.detailPost?.title}}" />
        <!-- </a> -->
      </div>
      <div class="card-body">
        <textarea>
          {{stateService.data.detailPost?.body}}
        </textarea>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-danger">
          <!-- (click)="onDeletePost(post.id)" -->
          Delete Post
        </button>
        <a class="btn btn-secondary" >
          Save
        </a>
      </div>
    </div>

  </div>
</div>
