<div class="card col-6 mr-auto ml-auto">
  <div class="card-header text-center">
    <!-- <a href="/posts/{{post.id}}" target="_blank"> -->
    <input type="text" placeholder="Title" />
    <!-- </a> -->
  </div>
  <div class="card-body">
    <textarea>
      asdfsdf
    </textarea>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-danger">
      <!-- (click)="onDeletePost(post.id)" -->
      Delete Post
    </button>
    <a class="btn btn-secondary"  (click)="onNavigatePosts()"> 
      Save
    </a>
  </div>
</div>