<div class="card-feed-entry row" style="box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);border-radius: 2px;">
  <div class="col-6" style="padding-left: 0; overflow: hidden;">
    <img src="{{ feed?.enclosure?.link || feed?.enclosure?.thumbnail }}" style="width: 100%;" />
  </div>
  <div class="col-6" style="background: rgba(255, 255, 255, 0.8);">
    <div class="mt-1 mb-2"><b>{{feed.title}}</b></div>
    <div>{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</div>
    <div [innerHTML]="feed.description | slice:0:500"></div>
    <div style="bottom: 10px;right: 16px;background: white;margin: 10px 0;text-align: right;">
      <button class="btn btn-success" (click)="openLinkInBrowser()">Abrir en el navegador</button>
      <button class="btn btn-success" (click)="addToPosts(feed)">Guardar</button>
    </div>
  </div>
</div>
